doctype xml
if movies
    if movies.length
        urlset(xmlns='http://www.sitemaps.org/schemas/sitemap/0.9')
            - year = new Date().getFullYear() - 1
            each movie in movies
                url
                    loc= 'http://' + domain + '' + decodeURIComponent(movie.url)
                    lastmod= movie.premiere.replace(/(?!2016)[0-9]{4}/g, year)
    else
        urlset(xmlns='http://www.sitemaps.org/schemas/sitemap/0.9')
else
    sitemapindex
        sitemap
            - n = new Date().getFullYear()
            while n > 1900
                loc
                    = 'http://' + domain + '/' + urls.sitemap + '/' + n--