doctype xml
if data
    if category == 'index'
        sitemapindex(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")
            - categories = ['year','genre','country','actor','director']
            each cat in categories
                sitemap
                    loc
                        = protocol + domain + '/' + encodeURIComponent(urls.sitemap) + '/' + encodeURIComponent(urls[cat])
            each num, key in data
                if key != 'max'
                    sitemap
                        loc
                            = protocol + domain + '/' + encodeURIComponent(urls.sitemap) + '/' + encodeURIComponent(urls.year) + '/' + encodeURIComponent(key)
    else if category == 'movies'
        urlset(xmlns='http://www.sitemaps.org/schemas/sitemap/0.9')
            - year = new Date().getFullYear() - 1
            each movie in data
                url
                    loc= movie.url
                    lastmod= movie.premiere.replace(/(?!2016)[0-9]{4}/g, year)
    else
        urlset(xmlns='http://www.sitemaps.org/schemas/sitemap/0.9')
            each num, key in data
                if key != 'max'
                    url
                        loc= protocol + domain + '/' + encodeURIComponent(urls[category]) + '/' + encodeURIComponent(key)